.application__background {
  background-image: url(images/application-background.jpg);
  background-repeat: no-repeat;
  padding: 80px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.application {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 48px 40px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  width: 495px;
  height: 666px;
  box-shadow:
    0 4px 4px -4px rgba(30, 33, 44, 0.05),
    0 12px 10px -6px rgba(30, 33, 44, 0.08),
    0 26px 24px -10px rgba(30, 33, 44, 0.1),
    0 60px 80px -20px rgba(30, 33, 44, 0.16);
  background: var(--white);
  gap: 24px;
}

.application__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: var(--gray-900);
}

.application__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.application__form-element {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.application__input--lg {
  height: 66px;
}

.application__checkbox {
  display: flex;
  gap: 12px;
}

.application__send {
  text-align: center;
}

.checkbox-input {
  margin-top: 3px;
}
