.benefits {
  background: var(--gray-900);
  padding-top: 80px;
  padding-bottom: 126px;
}

.benefits-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
}

.benefits-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  opacity: 0.6;
  margin-top: 24px;
}

.icon-boxes {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 94px;
}

.divider {
  height: 188px;
}

.button--benefits {
  margin-top: -26px;
  padding-left: 112px;
  padding-right: 112px;
  width: auto;
  align-self: center;
}

.icon-box {
  width: 285px;
  height: 188px;
  position: relative;
}

.icon-box__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  margin-top: 24px;
  color: var(--white);
}

.icon-box__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--white);
  opacity: 0.6;
  margin-top: 6px;
}
