.footer {
  padding: 80px 0;
}

.footer__top {
  display: flex;
  gap: 242px;
}

.footer__images {
  display: flex;
  gap: 60px;
}

.footer__socials {
  display: flex;
  gap: 16px;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
  margin-top: 24px;
}

.footer-form {
  margin-top: 24px;
  display: flex;
}

.footer-form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}

input.footer__input {
  width: 495px;
  background: rgb(255 255 255 / 12%);
  border: 1px solid rgb(255 255 255 / 12%);
}

input.footer__input:focus {
  background: rgb(255 255 255 / 12%);
  color: var(--white);
}

button.subscribe-button {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: -131px;
  z-index: 10;
  border-radius: 0 4px 4px 0;
}

.footnote {
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
}

.footer__mid {
  display: flex;
  gap: 125px;
  margin-top: 49px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 349px;
}

.contact__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.contact__description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
  opacity: 0.6;
}

.contact__text--white {
  opacity: 1;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer-nav__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-nav__description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-nav__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
  opacity: 0.6;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--white);
  display: flex;
  gap: 4px;
}

.footer__bottom {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.to-top {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

button.totop-button {
  padding: 8px;
}
