.header {
  display: flex;
  width: 100%;
  margin-top: 18px;
  align-items: center;
  padding: 2px 0;
}

.header__logo {
  margin-right: 60px;
}

.menu {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.menu__button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-800);
}

.menu__button--current {
  color: var(--primary);
}

.call {
  display: flex;
  gap: 36px;
  justify-content: space-between;
  margin-left: auto;
}

.call__element {
  display: flex;
  gap: 12px;
  align-items: center;
}

.call__discription {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
}

.call__adress {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-900);
}
