.page-title {
  display: flex;
  flex-direction: row;
  background-color: var(--gray-200);
}

.page-title-container {
  max-width: 1920px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.page-title-text {
  margin-left: 345px;
}

.page-title-background {
  margin-left: auto;
}

.breadcrumb {
  margin-top: 152px;
  display: flex;
  gap: 8px;
}

.breadcrumb__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
}

.breadcrumb__item--light {
  color: var(--gray-600);
}

.page-title-title {
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 590px;
  height: 188px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: var(--gray-900);
}

.page-title-discription {
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-700);
}
