.page-title {
  display: flex;
  flex-direction: row;
  background-color: var(--gray-200);
  background-image: url('images/background1.png');
  background-repeat: no-repeat;
  background-position: right top;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 115px;
}

.page-title__text {
  max-width: 600px;
  width: 100%;
  margin-top: 82px;
}

.page-title__background {
  margin-left: auto;
}

.page-title__title {
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 590px;
  width: 100%;
  margin-top: 40px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: var(--gray-900);
}

.page-title__discription {
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-700);
}

@media (width<576px) {
}
