.steps {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.steps__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--gray-900);
}

.steps__items {
  display: flex;
  gap: 30px;
}

.steps-item {
  max-width: 285px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.steps-item__head {
  display: flex;
  align-items: center;
  gap: 23px;
}

.steps-item__num {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--gray-400);
}

.steps-item:hover .steps-item__num {
  color: var(--primary);
}
.steps-item__line {
  border: 1px dashed var(--gray-400);
  width: 209px;
  height: 0;
}

.steps-item__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.steps-item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-900);
}

.steps-item__discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-700);
}
