.we-offer {
  margin-top: 120px;
}

.we-offer__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.we-offer__pic {
  border-radius: 4px;
  width: auto;
  height: 440px;
  flex-shrink: 1;
  object-fit: cover;
}

.we-offer__title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: var(--gray-900);
  margin-bottom: 60px;
}

.we-offer__text {
  max-width: 420px;
  width: 100%;
}

@media (width<1024px) {
  .we-offer__title {
    margin-bottom: 20px;
  }
}

@media (width<576px) {
  .we-offer__content {
    flex-wrap: wrap;
  }
}

@media (width<564px) {
  .we-offer__content {
    justify-content: center;
  }
}
