.we-offer {
  display: flex;
  gap: 105px;
}

.we-offer__pic {
  border-radius: 4px;
  width: 705px;
  height: 440px;
  flex-shrink: 0;
}

.we-offer__title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: var(--gray-900);
}

.we-offer__text {
  overflow-wrap: break-word;
}
