button {
  background: var(--primary);
  border-radius: 4px;
  text-align: center;
  font-family: var(--font-family);
  padding: 0 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  border: none;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
}

button:hover {
  background: #fc3300;
}

button:active {
  transform: scale(0.95);
}

button.button--contrast {
  background: none;
  color: var(--primary);
  box-sizing: border-box;
  outline: 1px solid var(--primary);
  outline-offset: -1px;
}

button.button--contrast:hover {
  background: var(--primary);
  color: var(--white);
}

button.button--large {
  padding: 0px 40px;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
}

button.button--small {
  padding: 0px 24px;
  font-size: 12px;
  line-height: 300%;
  letter-spacing: 0.04em;
}

input {
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  background: var(--gray-200);
  padding: 10px 0px 11px 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
  transition: background 0.3s ease;
}

input:focus {
  outline: none;
  border: 1px solid rgba(255, 90, 48, 0.4);
  border-radius: 4px;
  box-shadow:
    0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0 12px 10px -6px rgba(255, 90, 48, 0.04),
    0 30px 24px -10px rgba(255, 90, 48, 0.05),
    0 80px 80px -20px rgba(255, 90, 48, 0.08);
  background: var(--white);
}

input::placeholder {
  color: var(--gray-600);
}

textarea {
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  resize: none;
  background: var(--gray-200);
  padding: 10px 0px 11px 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
  transition: background 0.3s ease;
}

textarea:focus {
  outline: none;
  border: 1px solid rgba(255, 90, 48, 0.4);
  border-radius: 4px;
  box-shadow:
    0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0 12px 10px -6px rgba(255, 90, 48, 0.04),
    0 30px 24px -10px rgba(255, 90, 48, 0.05),
    0 80px 80px -20px rgba(255, 90, 48, 0.08);
  background: var(--white);
}

textarea::placeholder {
  color: var(--gray-600);
}

label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  background-image: url('images/unchecked.svg');
  accent-color: var(--primary);
}
