:root {
  color-scheme: dark;

  --page-bg: var(--gray-900);
  --text-color: var(--gray-100);
  --input-bg: rgb(255 255 255 / 12%);
  --input-text: var(--white);

  --card-bg: var(--gray-800);
  --section-bg: var(--gray-700);
  --benefits-bg: var(--gray-800);

  --text-muted: var(--gray-400);
  --text-invert: var(--white);

  --border-color: var(--gray-800);
  --accent-color: var(--primary);
}
