:root {
  color-scheme: light;

  --color-primary: var(--white);
  --color-secondary: var(--color-black);

  --page-bg: var(--white);
  --text-color: var(--gray-900);

  --footer-bg: var(--gray-900);
  --card-bg: var(--white);
  --section-bg: var(--gray-200);
  --benefits-bg: var(--gray-900);

  --text-muted: var(--gray-700);
  --text-invert: var(--white);

  --border-color: var(--gray-300);
  --accent-color: var(--primary);
}
